<?xml version="1.0" ?>
<launch>


	<param name="robot_description" command="$(find xacro)/xacro --inorder  $(find arva_sim)/urdf/transmitter.urdf.xacro id:=3"/>
	<node name="spawn_artva_3" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 20.0 -y 20.0 -z 1 -model artva3" 	respawn="false" output="screen">
	</node>



</launch>
